# env & secrets
.env
*.local

# python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/

# node
node_modules/
web/build/
web/.svelte-kit/


# db volumes / local data
pgdata/

# archives & scratch
*.zip

# ios / xcode
ios/build/
DerivedData/
*.xcuserstate
xcuserdata/
ios/build-device/
ios/build-release/
*.xcarchive
